body {
    font-family: 'Assistant', sans-serif;
    box-sizing: border-box;
    background-color: #84B9D9;
    color: #D5EBF8;
}
section {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
section div {
    min-height: 10vh;
    padding: 5rem 1%;
}
section div h3 {
    font-weight: 200;
}
#myColorBlock, #myFoodBlock, #myBirthplaceBlock {
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
    transition: background-color 2s ease;
    animation-name: blurIn;
}
#myAge {
    background-color: #E3FCCA;
    color: #7AC82B;
    display: inline-block;
    text-align: center;
    padding: 5rem;
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
    transition: background-color 1s ease;
    min-height: 10vh;
}
#correctAnswersWrapper {
    font-size: 2em;
}
