body {
    font-family: 'Assistant', sans-serif;
    box-sizing: border-box;
    background-color: #84B9D9;
    color: #D5EBF8;

}
section {
    width: 100%;
    text-align: center;
}
section div {
    min-height: 100vh;
}
section div h3 {
    font-weight: 200;
}
#myColorBlock,
#myFoodBlock,
#myBirthplaceBlock {
    display: inline-block;
    text-align: center;
    padding: 20px;
    width: 30%;
    margin: 0 auto;
    transition: background-color 1s ease;
}
