body {
    font-family: 'Assistant', sans-serif;
    box-sizing: border-box;
    background-color: #84B9D9;
    color: #D5EBF8;
}
body h3:first-of-type {
    text-align: center;
}
#webContainer {
    max-width: 1100px;
    margin: 0 auto;
    height: 100vh;
}
section {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
section div {
    padding: 3.6% 1%;
}
section div h3 {
    font-weight: 200;
}
#myColorBlock, #myFoodBlock, #myBirthplaceBlock {
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
    transition: background-color 2s ease;
    animation-name: blurIn;
}
#myAge {
    background-color: #E3FCCA;
    color: #7AC82B;
    display: inline-block;
    text-align: center;
    padding: 3.6%;
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
    transition: background-color 1s ease;
}
#correctAnswersWrapper {
    font-size: 2em;
}

#cityList {
    list-style-type: none;
    padding-left: 0;
}
